html,
body {
  height: 100%;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background: rgba(128, 128, 128, 0.4);
  border-radius: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
